@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed&family=Truculenta:wght@900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body { 
  background-color: #fdfdfd; 
  color: #121212;
}